html {
    background-color: #FFDAB9;
    height: 100%;
}
#container {
    height: 325px;
    width: 350px;
    background-color: white;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-areas: 
    ". years"
    ". months"
    ". days"
    ". days-alive"
    ". seconds-alive"
    "btn btn";
    margin: 0 auto;
    border: 20px solid #add8e6;
    padding: 25px;
}
.tag {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#years {
    grid-area: years;
}
#months{
    grid-area: months;
}
#days{
    grid-area: days;
}
#days-alive{
    grid-area: days-alive;
}
#seconds-alive{
    grid-area: seconds-alive;
}
.input-styling {
    height: 25px;
    width: 250px;
}

#btn {
    grid-area: btn;
    height: 25px;
    width: auto;
    border-radius: 12px;
    border: 2px solid #add8e6;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}